[2015-07-03 07:43] hofnerb opened #1 "Make new dependency checks happy"
To make the new dependency checks on CRAN happy go along the following recipe (as suggested by Kurt Hornik).

1.) Copy the functions listed after `Undefined global functions or variables:` in the output from `R CMD check` in a variable `txt`:
[code]
2.) With the function
[code]
one can obtain the imports via
[code]
3.) Copy and paste the output to `NAMESPACE`.
4.) Add the packages to `Imports` in

[2015-07-03 08:13] #1 closed

[2015-07-13 09:28] sbrockhaus opened #2 "summary method"
In my opinion it would be nice to have a summary-function for mboostLSS-objects. In the following is code for a summary function (model taken from help).

[code]

[2015-07-13 09:40] hofnerb opened #3 "print methods, truncate output of data"
check hofnerb/mboost#11 and see if it is suffiencient to fix it there.

[2015-07-29 10:08] hofnerb commented on #3
Modify the call of the submodels by replacing the actual data with the name of the data set provided.

[2015-08-18 13:49] hofnerb commented on #3
Or even better: Suppress the call in `mboost.print` and add it in **gamboostLSS**.

[2015-08-18 13:50] #2 closed

[2015-08-18 15:02] #3 closed

[2015-10-14 14:53] ja-thomas opened #4 "Offset values are written in all distribution parameter models"
In mboostLSS_fit() all offset values of the distribution parameters (mu, sigma, ...) are written in each distribution parameter model.

e.g. The fit object of the mu parameter has a variable "mu" containing the initial offset value, although it is only needed in the other distributions. The value is not changed in the iterations of the algorithm.
For the other parameters the same problem applies.

[2015-10-26 10:07] sbrockhaus opened #5 "response(fitted()) and fitted(, type = response) in mboostLSS.R"
This is just a question of understandig some of your code:

In the file mboostLSS.R it says in Code line 159ff:
[code]
And consequently response(fitted()) is used.

I just wondered whether there is a reason, that in line 130 fitted(, type = response) is used instead of response(fitted())?
The corresponding code ist:
[code]
Best

[2015-10-29 08:49] hofnerb commented on #5
Dear Sarah,

very good question.

The reason for changing `fitted(, type = response)` to `response(fitted())` in lines 159ff was that `fitted(, type = response)` actually calls `predict(, type = response)` and thus needs to do all computations anew while `fitted()` simply returns the current accumulated fit.

If we `predict` in line 130, this is not such a problem as we only have offset models so

[2015-10-30 15:29] ja-thomas opened #6 "cycling variable should be in boost_control"
Would be better if the variable to set which fitting algorithm should be used was in the boost_control list.

Maybe the boost_control function from mboost can be modified after importing it in gamboostLSS .

[2015-10-30 16:21] #5 closed

[2015-11-02 09:25] sbrockhaus commented on #5
Thanks a lot for the explanations!

[2015-11-30 10:05] sbrockhaus opened #7 "print all steplengths nu in summary.mboostLSS"
The current print-statement in summary.mboostLSS is:
`cat("Step size: ", object[[1]]$control$nu, "\n\n") `
https://github.com/hofnerb/gamboostLSS/blob/master/pkg/R/methods.R#L290
Which means you see only the step length of the first distribution parameter.

If it would be
`cat("Step size: ", sapply(object, function(x) x$control$nu), "\n\n")`
one would see if different step-lengths are used for the

[2015-12-01 10:13] #7 closed

[2015-12-08 16:48] ja-thomas opened #8 "Model reduction broken"
Model reduction yields different coefficients if the model is set back to the earlier value.

MWE:

[code]

[2015-12-08 17:17] ja-thomas commented on #8
More code

[code]

[2015-12-08 17:43] ja-thomas commented on #8
Possible issue: First REAL update of `sigma`

[2015-12-08 23:52] #8 closed

[2016-02-05 08:49] sbrockhaus opened #9 "bug in cvrisk.mboostLSS() if families at default"
If the `families ` argument is not specified explicitly in `mboostLSS `one gets an error in `cvrisk.mboostLSS()` (spotted by Almond Stöcker).
See the following MWP:
[code]

I think that a possible fix is to define `families `in `cl `in `mboostLSS` after line
https://github.com/hofnerb/gamboostLSS/blob/master/pkg/R/mboostLSS.R#L8
by adding
[code]
Best

[2016-03-10 18:12] #9 closed

[2016-03-10 18:35] hofnerb opened #10 "Fix documentation and "no visible global function definition""
see e.g. https://s3.amazonaws.com/archive.travis-ci.org/jobs/115008209/log.txt

Please note that I've merged some changes from patch to pkg and might have broken some more things. I'll try to look into this but you might also want to have a look.

[2016-04-04 15:19] ja-thomas commented on #10
Note to self:
This seems to have to do with the `evalq()` calls in `iBoost_inner()` and `iBoost_outer()`.
I may have to rewrite all of them and pick everything from the environment seperately.

Instead of
`evalq(u <- ngradient(y, fit, weights), ENV[[k]])`

`ENV[[k]][["u"]] <- ENV[[k]][["ngradient"]](ENV[[k]][["y"]],ENV[[k]][["fit"]], ENV[[k]][["weights"]])`

and so on....

Especially for iBoost_ou

[2016-04-04 15:49] ja-thomas commented on #10
one other possibility to fix this is two wrap the undefined variables in `get()` functions. But thats also not a really nice solution.

[2016-04-05 08:06] #10 closed

[2016-04-05 10:12] ja-thomas opened #11 "Missing documentation for stabsel.mboostLSS and selected.stabsel_mboostLSS"
Need an additional .Rd file for the documentation in pkg.

EDIT: No new .Rd file, will add in methods.Rd

[2016-04-05 12:40] #11 closed

[2016-04-08 09:09] fabian-s opened #12 "gamlss.dist::BB, gamlss.dist::BI don't work"
These are supposed to be called with a 2-column response giving successes & failures, but that doesn't seem to have been implemented yet here.

I have an ugly fix for cases where # of trials is constant for all the data (see below), but that's unsatisfactory for most practical applications, probably.

[code]

codefile is here: https://gist.github.com/fabian-s/b952063213f22c31ab9ea99f681a56d7

[2016-04-08 09:15] fabian-s opened #13 "Specifying intercept models is not documented & a PITA"
I think having to do
[code]
instead of
[code]
sucks major d*** in terms of usability. At least it should be **documented** somewhere that this is the way we want users to specify an intercept model / formula.....

[2016-04-11 09:19] ja-thomas commented on #13
This is already a problem of mboost not just gamboostLSS

[code]

We should put it in the description (ideally in gamboost **and** gamboostLSS) and check if there is an easy fix for that in mboost, but we have to fix the problem there.

[2016-04-11 09:42] fabian-s commented on #13
not sure I agree.

that issue never comes up for (non-pathological specifications of) `mboost` models because why would ever want to boost an intercept model? However, intercept models do make sense for GAMLSS-type models because you may want to restrict the flexibility of additive predictors for higher order moments (to cut computation times, remain interpretable, etc).

[2016-04-11 09:59] hofnerb commented on #13
Well, the point probably is that it usually doesn't make sense in mboost but it should be implemented there anyway as all the interfaces for model fitting are provided from mboost. Perhaps one should try to interpret `1` generally as intercept. Thus instead of
[code]
one could then write
[code]
`1` should then always be defined as `bols(rep(1, nrow(data), intercept = FALSE)`.

[2016-04-11 10:19] fabian-s commented on #13
Do we agree that there is no realistic use case for a pure intercept base learner in `mboost`, but that there is one for additive predictors in `gamboostLSS`?

If so, I think it's a user interface / formula parsing issue for gamboostLSS (i.e., a `~1` formula should just add the missing columns `ones` to the data and treat `~ 1` as `~ bols(ones, intercept = FALSE)`), not a missing feature in `mboos

[2016-04-11 10:27] fabian-s commented on #13
Just to be clear:

I don't think we need to / should enable formulas `~ 1 + bols(bla) + bbbs(blub)`.

I **do** think having a shorthand for "this parameter is not affected by any covariates" via g `nuisance_param = response ~1` would be useful, as the default of recycling the first formula for all parameters of the distribution means that models get insanely complicated very quickly and specifying

[2016-04-12 09:36] fabian-s commented on #13
@hofnerb just re-read your comment, you're right of course, I was being a Gscheithaferl :smirk:
Closing this and migrating it to mboost.

[2016-04-12 09:36] #13 closed

[2016-07-28 06:57] hofnerb commented on #12
@mayrandy can you have a look at this issue?

Do we have any opportunity to work with matrix calued outcomes within the families? Actually this should be possible as we can also use complex outcomes such as `Surv(t, delta)`. I think we need to have specialized families here. Is this worth it?

If we do not have a proper fix we should at least issue a warning or an error if someone tries to use the

[2016-08-05 10:09] hofnerb opened #15 "Add tests for cvrisk with non-cyclic models"

[2016-08-05 10:09] #6 closed

[2016-08-05 10:10] hofnerb commented on #15
https://coveralls.io/github/boost-R/gamboostLSS?branch=devel

[2016-08-05 11:44] hofnerb opened #16 "Fix `cvrisk.nc_mboostLSS`"
-  [ ] Fix `trace = TRUE`: Currently doesn't work. Use output function from `cvrisk.mboost` if possible
-  [ ] `cvrisk.nc_mboostLSS` needs to be documented as `grid` is defined differently.
-  [ ] Plot function needs to be documented: But how? We currently use `plot.cvrisk` from mboost? Perhaps use something ala:

[code]

[2016-08-08 08:48] hofnerb commented on #15
Fixed in commit 21b6e197ba14c011ccfcf2abc26734b7274d6dc7.

[2016-08-08 08:48] #15 closed

[2016-08-08 11:40] hofnerb opened #17 "Update/check Tutorial references"
- README.md
- Manuals

[2016-08-23 08:51] hofnerb opened #19 "Bug in mstop for non-cyclical fitting"
[code]
Does the current behavior makes sense? I don't think so.

I do see why it is interesting to know how many iterations were fitted for mu and sigma but at the same time, we cannot reuse this information. We only care about the total number of steps.

- [ ] So it would preferable to primarily show the single mstop value.
- [ ] Furthermore, we need to check all documentation where we state that

[2016-08-23 10:39] ja-thomas commented on #19
I see your point but:

1) in most cases it is more interesting to see the distribution of the iterations that the overall iterations (which is specified by the user).

2) this would break a lot of my code since I use the `mstop()` function a lot in the internal fitting process.

What we could do is if `mstop(model) <- c(mu = 10, sigma = 20)` is called we use `sum(c(mu = 10, sigma = 20))` as new ms

[2016-08-23 11:53] hofnerb commented on #19
I see. Let's discuss this at the phone. That is easier.

[2016-08-23 13:46] hofnerb commented on #19
return scalar with one attribute for individual steps per distribution parameter. perhaps add nice print function...

[2016-08-23 17:28] mayrandy commented on #12
As far as I can see, this should not be a big issue. We only need to change `as.families()` so that it checks if this beta denominator exists as an argument, i.e, something like `"bd" %in% names(formals(pdf))`.

If that is the case, we'll have to do
`      bd <- y[,1] +y[,2]`
`      y <- y[,1] `
the rest should be playing around with the arguments so that `bd` is included when needed in `ngradient

[2016-08-24 12:17] mayrandy commented on #12
OK, this should work now with this [commit](https://github.com/boost-R/gamboostLSS/commit/109daf34aba93ff1821bb29df5c480348b99d2b3) to devel:

[code]

[2016-08-24 12:43] hofnerb commented on #12
Thx.

[2016-08-24 12:43] #12 closed

[2016-08-25 08:52] ja-thomas opened #21 "glmboost with method="outer" is broken"
This bug was actually already fixed in the past (I just can't remember where it exactly occured),

but currently `glmboostLSS` with `method="outer"` will always select `mu`.

[2016-08-25 09:09] ja-thomas commented on #21
Ok, it only happens with `center=TRUE`

[2016-08-29 15:58] hofnerb opened #22 "mstop = 1 should be possible for non-cyclical fitting"
[code]

currently gives the errror

[code]

and if one fits a larger model and reduces it to 1, one gets

[code]

Does this really make sense for non-cyclical models?

[2016-08-29 16:10] hofnerb opened #23 "Fix trace for non-cyclic models"
[code]

The first risk is wrongly printed, the blanks in `[  4]`and `[ 75]`are wrong and the last dot in the newline is wrong.

[2016-08-29 16:13] hofnerb opened #24 "Try to duplicate less code"
@ja-thomas, we should try to use better functional units to avoid duplication of code. Currently, we have a lot of spaghetti code instead of proper functional programming.

Can we aim for that in the next release, i.e. after the initial release of the non-cyclic fitting?

[2016-08-29 16:20] hofnerb commented on #24
Perhaps we can furthermore already use object orientation within the fitting algorithm

[2016-08-29 16:59] hofnerb commented on #23
The problem seems to be related to #22.

Somehow, we already start with too many steps. Actually, we want to print every single update step... Furthermore, in we subtract the initial steps from mstop even if we start from scratch. See

[code]

If we call `do_trace` the second time, i.e. from within `iBoost_outer`, we get with this call
[code]
the following arguments:
[code]
This is wrong!

[2016-08-29 17:01] hofnerb commented on #22
Why do we force update all boosting parameters in the first iteration? Is this really necessary? I know that we need to build up all mboost objects but couldn't we (and don't we have to) just use the best update already in this first step? (i.e. alway refit already the first step if necessary???)

[2016-08-29 17:31] #19 closed

[2016-08-30 12:12] ja-thomas commented on #22
In the current implementation we have to initialize all models before the noncyclical model can run.
This was something that isn't ideal when I implemented it initially.

But in general you are completely right that it should work like you suggested. I'm not sure how easy it would be to change it like that. This is something that I would like to solve together with #24.

[2016-09-02 07:57] mayrandy opened #25 "Change links in as.families()"
It should be possible to use different link functions in families that we import from `gamlss` via `as.families()`, currently we are just using the default.

The link function is crucial for` ngradient,` as in `gamlss` they use the derivatives  d l / d mu (in case of the first parameter of the distribution). We need  d l / d eta_mu, therefore we also need d mu / d eta_mu which depends on the link.

[2016-09-02 08:33] hofnerb commented on #25
Once the general issue regarding the derivatives is resolved, could we inlclude this also in other families?

We could use link and inverse link functions along the lines of **countreg** (https://r-forge.r-project.org/scm/viewvc.php/pkg/R/?root=countreg).

[2016-09-05 15:56] mayrandy commented on #25
Ok, that was easier than expected. Should work now  with a981957  for `as.families()`.

However, @hofnerb is right - we should go through the existing orginal gamboostLSS families and make it possible for users to define other links. In boost-R/mboost#34 I did use `stats::make.link()` which automatically provides all necessary functions including d mu / d eta via `link$mu.eta(f)`.

[2016-09-16 14:00] hofnerb opened #26 "Non-cyclical fitting gets slower in later iterations"
Try to fix.

[2016-12-01 15:40] #16 closed

[2016-12-01 15:46] hofnerb opened #27 "Add references to Arxiv TechRep"
- [ ] add this to manuals (were applicable)
- [ ] add to CITATION
- [ ] add to README.md

[2017-01-09 16:01] hofnerb opened #28 "as.families("BEINF") not working"
The following code does not work:
[code]
The reason can be found in
[code]
which is a function of mu and sigma only.

How can we fix this for this family (and potentially others)? Is a change in gamlss.dist needed or can we fix this ourselves? Are there other families leading to the same or a similar issue?

@mayrandy, can you have a look at this?

[2017-01-09 16:54] mayrandy commented on #28
Thanks for finding this! This should be a problem for all inflated families, e.g. `BEOI()`:

[code]

But their corresponding functions for the derivatives `BEOI()$dldm` have arguments mu and sigma only which leads to the error.

I think we should be able to fix this in our code, I'll take a look.

[2017-01-10 10:46] hofnerb commented on #28
Thanks a lot!

Perhaps there are even more families with similar properties?
Could check this issue by comparing `nopar` with the number of parameters in `dldm` either by simply calling the functions or by computing on
[code]
for all available families in a loop?

Von: Andreas Mayr [mailto:notifications@github.com]
Gesendet: Montag, 9. Januar 2017 17:54
An: boost-R/gamboostLSS
Cc: Hofner, Benjamin

[2017-01-10 13:10] hofnerb commented on #28
Thanks a lot!

Perhaps there are even more families with similar properties?
Could check this issue by comparing `nopar` with the number of parameters in `dldm` either by simply calling the functions or by computing on
[code]
for all available families in a loop?

[2017-01-16 08:41] hofnerb opened #29 "Provide separate manuals for families"
analogously to https://github.com/boost-R/mboost/issues/61

[2017-01-20 14:00] hofnerb opened #30 "Adapt confint.mboost"
to work with gamboostLSS. At best, for both the cyclic and the non-cyclic variants.

[2017-01-26 14:55] ja-thomas commented on #22
@hofnerb is there a way to create a mboost object with 0 iterations?

So basically a intercept only model, with mstop = 0

[2017-01-26 16:14] hofnerb commented on #22
No, this is currently not possible. We should have a look at mboost to fix this. Shouldn't we?

[2017-01-26 16:21] ja-thomas commented on #22
That's imo the smartest way to fix this, I'll open an issue there

[2017-01-26 16:23] hofnerb commented on #22
Acutally this might be pretty easy. I just have a look at it. We simply might skip [this](https://github.com/boost-R/mboost/blob/master/R/mboost.R#L165) line. Just need to make sure that no unwanted side effects are induced.

[2017-01-26 18:22] hofnerb commented on #22
Should be working now. Both, subsetting (`mstop(mod) <- 0`) and setting `mstop = 0` initially.

Please go ahead (and let me now if you spot an open issue regarding `mstop = 0`)

[2017-01-26 21:41] ja-thomas commented on #22
Awesome! Thanks a lot

[2017-01-27 08:52] hofnerb commented on #22
@ja-thomas I hope you always use `risk(mod)` and never `mod$risk`. See https://github.com/boost-R/mboost/issues/66 for possible future problems.

I think we should also allow `mstop = 0` in gamboostLSS and hence also `cvrisk` starting from 0.

[2017-01-27 18:10] hofnerb commented on #22
I modified `risk(mod)` such that it now returns a vector of length `mstop + 1` as it includes the risk for the offset model.

[2017-02-02 21:38] mayrandy commented on #28
OK, all those families have `FAM()$type == "Mixed"`, found that in my own code.

Apparently I had already implemented such cases for 3-parametric families and was only too lazy to do the same also for the 4-paremetric ones. Should be fixed now in "devel".

[2017-02-02 21:46] #28 closed

[2017-02-05 15:42] hofnerb commented on #28
Merci :)

[2017-02-06 15:38] hofnerb opened #32 "Issue in gamboostLSS tutorial"
[code]
This is most likely related to the latest changes in **mboost** regarding `risk()` (see https://github.com/boost-R/mboost/issues/64 and https://github.com/boost-R/mboost/issues/66).

[2017-02-06 17:27] hofnerb commented on #32
@ja-thomas This is a bug in the `risk()` function of gamboostLSS which results from the new `risk` as returned by mboost. Please see my fix in 691048a and apply this to the devel version as well.

[2017-02-07 16:18] hofnerb opened #33 "risk: Problem when models are decreased and increased afterwards"
[code]

@ja-thomas The above error exists at least in the current implementation in the master branch. Please also check this in the devel branch (or your new branch). Altogether, we need to check all occurences of "risk" and make sure that it works with the new mboost risk. I think it's best if we only do this in the devel branch as the old master branch most likely will not make it to CRAN anoth

[2017-02-13 12:55] ja-thomas commented on #22
So I changed the behavior of gamboostLSS to work with `mstop=0` in #31. Might not be perfect yet, but seems to work in principle.

It just seems that the focus on location parameter is even stronger.

For the old version mstop = 90/10 on the cars dataset for the new version after 700 iterations 678/22 while for mstop=600 it is still 600/0.

There shouldn't be such a huge difference I think.

My cu

[2017-02-13 13:01] hofnerb commented on #22
Did you also have a look at coefficients and/or coefficient paths? It could be that by forcing mstop = 1, we need the next iterations to revert this effect, which wouldn't be necessary if it wasn't included in the first place.

[2017-02-13 13:58] hofnerb commented on #22
@ja-thomas Please also check that mstop = 0 etc. works, also subsetting and increasing afterwards (see also #33). Perhaps you can recycle (some of) the code from [boost-R/mboost:regtest-gamboost.R](https://github.com/boost-R/mboost/blob/master/tests/regtest-gamboost.R#L319-L374)

[2017-02-16 14:19] ja-thomas commented on #22
Hm, so you actually mean that **now** we are doing the right thing...

EDIT: You may be right, as the tendency of only using `mu` is not present when `center = FALSE`...

[2017-02-16 15:04] hofnerb commented on #22
which means that you think that with `center = FALSE` we also need to correct thewrong  model?

[2017-02-16 16:29] ja-thomas commented on #22
Ok there is definitely some more testing required.

In principle everything seems to work, it is just highly depending on the dataset. Let's see what is going to happen in some simulated scenarios.

[2017-02-20 14:58] ja-thomas commented on #33
This is already fixed in my branch and works both with the `cylical` and the `noncyclical` version. Can be closed as soon as the branch in merged.

[2017-04-05 10:51] hofnerb opened #34 "Prepare new release version"
- [x] Merge devel to master
- [x] Check that all relvant issues are closed
- [x] Check that reference to novel gamboostLSS algorithm + stabsel paper is present in all relevant places
- [x] Check vignette against published paper. Results should be (more or less) identical.
- [x] Check that all citations are up to date
- [x] Make sure NEWS.Rd reflects all recent changes.

[2017-04-10 08:43] ja-thomas commented on #33
Fixed

[2017-04-10 08:43] #33 closed

[2017-04-10 08:44] ja-thomas commented on #27
should be referenced everywhere now

[2017-04-10 08:44] #27 closed

[2017-04-10 08:46] ja-thomas commented on #24
Should be better now. The code could be made nicer in the future, but that would require major refactoring (maybe even some on mboost). I don't think I have the time for that currently, but we can keep the issue open if you want to.

[2017-04-25 15:56] hofnerb commented on #34
On the way to merge. PR seems possible now...

[2017-04-25 15:58] hofnerb commented on #34
Is [#32](https://github.com/boost-R/gamboostLSS/issues/32) still present? It doesn't seem to be the case. However, we should check that the tutorial gives the same results as before. I've added a bullet point above.

[2017-04-25 16:01] hofnerb commented on #25
@mayrandy Is it possible to include the required changes for the gamboostLSS families in the next release in a few days? If so, you should implement the changes in the master branch. Thanks.

[2017-04-25 16:01] #24 closed

[2017-04-25 16:03] hofnerb commented on #23
@ja-thomas Is this issue fixed in devel? Do we have checks for that issue? If not, we should include some in master after I've merged master and devel.

[2017-04-25 16:03] hofnerb commented on #22
@ja-thomas This should be working in devel, now?

[2017-04-25 16:03] #21 closed

[2017-04-26 08:29] hofnerb commented on #23
Seems ok!

[code]

[2017-04-26 08:29] #23 closed

[2017-04-26 08:32] hofnerb commented on #22
Seems like it. Tests are included in [tests/regtest-noncyclic_fitting.R](https://github.com/boost-R/gamboostLSS/blob/devel/tests/regtest-noncyclic_fitting.R#L95-L124)

[2017-04-26 08:32] #22 closed

[2017-04-26 09:05] hofnerb opened #37 "risk(, merge = TRUE) broken for method = cyclic"
It accidentially drops names for the last two entries.

**Non-cyclic (ok)**
[code]
**Cyclic:**
[code]

Please fix and add a test to check if all names are set correctly.

[2017-04-26 12:15] #32 closed

[2017-04-26 12:20] #37 closed

[2017-04-26 12:32] hofnerb commented on #34
Seems that everything is fine now. We only need to wait until mboost is on CRAN (as we now require mboost >= 2.8-0) in order to be able to set \code{mstop = 0}. Once this has happened, we can finally update the dates and follow the release SOPs to release the package.

[2017-04-27 17:15] mayrandy commented on #34
Fantastic, thanks for all the hard work !

[2017-04-28 16:04] hofnerb opened #39 "selected.mboostLSS is broken"
[code]

[2017-04-28 16:07] hofnerb opened #40 "stabsel is broken"
[code]
Perhaps the ERROR vanishes when selected is fixed (see #39). However, more fixmes are in the code. Currently the code is not ready to go to CRAN.

[2017-04-28 16:08] hofnerb commented on #40
Of note, I couldn't check all the code of stabsel as I could not get past the error.

[2017-04-28 16:15] hofnerb commented on #39
Also (partially) broken when sigma is selected:
[code]

[2017-05-02 11:13] ja-thomas opened #42 "Delete stco_paper branch"
The branch was actually in a wrong state... and still contained refactored stuff.

The correct branch is now stco_paper_outer_version (I can't force-push stco_paper since it's protected)

stco_paper branch should be deleted and stco_paper_outer_version protected

[2017-05-02 11:21] sbrockhaus opened #43 "summary() fails if no base-learner was selected"
For noncyclic fitting, it can happen that for a distribution parameter no base-learner is selected. In this case the `summary()` function fails.
See also https://github.com/boost-R/mboost/issues/75

[code]

For mstop = 0, the `summary()` function also fails for cyclic fitting.

[code]

[2017-05-02 12:20] hofnerb commented on #42
@ja-thomas: Can be deleted now. please rename the new branch `stco_paper_outer_version" to `stco_paper` afterwards.

[2017-05-02 12:28] hofnerb commented on #43
Please also add a test, @ja-thomas. Please check all methods (in a specific test) if it works for examples were only one component was chosen.

[2017-05-02 13:47] hofnerb commented on #43
I'm working on it...

[2017-05-02 14:00] #39 closed

[2017-05-02 14:25] #43 closed

[2017-05-02 14:40] hofnerb commented on #40
Ok, the error related with `selected` was fixed but we still have an open issue with
[code]

[2017-05-03 07:43] ja-thomas commented on #40
Sorry I've overlooked that, fixing this now

[2017-05-03 08:05] hofnerb commented on #40
tippi toppi.

[2017-05-03 08:56] ja-thomas commented on #42
fixed `stco_paper` branch to the correct version and deleted `stco_paper_outer_version`

@hofnerb can you protect the `stco_paper` again? I don't have rights for that

[2017-05-03 09:16] hofnerb commented on #42
Done.

[2017-05-03 09:16] #42 closed

[2017-05-03 14:13] #40 closed

[2017-05-05 08:08] hofnerb opened #45 "Update References"
"Gradient boosting for distributional regression - faster tuning and improved variable selection via noncyclical updates", has been accepted for publication in Statistics and Computing.

Replace
[code]
with
[code]

[2017-05-05 08:33] sbrockhaus commented on #45
congrats :-)

[2017-05-05 09:02] hofnerb commented on #45
I'm looking into that, @ja-thomas

[2017-05-05 09:16] #45 closed

[2017-05-05 09:16] hofnerb commented on #34
Start finalizing...

[2017-05-05 09:16] #34 closed

[2017-05-16 13:17] Almond-S opened #46 "cvrisk.nc_gamboostLSS exportation and default"
cvrisk.nc_gamboostLSS is currently not exported, but obviously provides another default grid then the one for cvrisk.gamboostLSS. The second default is also reported in ?cvrisk.gamboostLSS/?cvrisk.nc_gamboostLSS.

I was a little confused with that and maybe it would already help to export cvrisk.nc_gamboostLSS to make differences more visible.

Best,
Almond

[2017-05-17 10:13] hofnerb commented on #46
Absolutely, you are right. The current status is not optimal. I will export the object and add it to the manual.

[2017-05-17 12:18] hofnerb opened #47 "Update reference to Thomas et al"
Online First. DOI 10.1007/s11222-017-9754-6 (URL http://dx.doi.org/10.1007/s11222-017-9754-6)

[2017-05-17 14:30] #46 closed

[2017-05-17 14:35] hofnerb commented on #47
- [ ] README.md
- [ ] inst/CITATION
- [ ] inst/NEWS.Rd
- [ ] man/cvrisk.Rd
- [ ] man/gamboostLSS-package.Rd
- [ ] man/mboostLSS.Rd
- [ ] man/stabsel.mboostLSS.Rd

[2017-05-17 14:42] Almond-S commented on #46
Great, thank you!

Best,
Almond

Am 17.05.2017 4:30 nachm. schrieb "Benjamin Hofner" <
notifications@github.com>:

[2017-07-11 16:21] BrashEQLibrium commented on #1
I believe this issue is related to an issue I've started having building a package that imports gamboostLSS and mboost. Before R version 3.4.0, it worked fine. Now I cannot build the package and get the following error:

Error in (function (dep_name, dep_ver = NA, dep_compare = NA)  :
  Dependency package gamboostLSS not available.

I think I'm going to have to go back to a previous R version and

[2017-07-11 16:36] BrashEQLibrium commented on #1
@hofnerb, I am still having trouble with my package, which depends on gamboostLSS. I have the latest versions of R and gamboostLSS (and all of its dependencies) installed as of R 3.4.1. I am importing both gamboostLSS and mboost. I'm using roxygen2 to build my package. I've confirmed that gamboostLSS is indeed the issue blocking a build of my package (by removing the imports from DESCRIPTION and N

[2017-07-12 07:07] hofnerb commented on #1
The above solution is only with regard to imported functions and was only there to get rid of a warning in the process of building / testing... So as you already figured out (if I understand the timing of your posts correctly) this cannot be the reason.

I am having such problems when the library used for building/testing is not the standard library. I do not really know how and when this happens

[2017-07-12 07:09] hofnerb commented on #1
Btw. I do not understand why gamboostLSS would block **building** your package (if you do not re-build vignettes which depend on gamboostlSS). For me such errors just occur when testing...

[2017-11-13 09:28] hofnerb opened #48 "predict for (some) noncyclic models broken"
Spotted by Lisa Schlosser:
[code]
This only happens with `risk = "oobag"` and `method = "noncyclic"`.

[2017-11-13 11:46] hofnerb commented on #48
The question is why the prediction is influenced by the type of risk. It seems that the question is more related to the handling of `risk` in the selection and evaluation of base-learners.

[code]

Obviously, as we do not have oou-of-bag data, `risk = "oobag"` does some weird job. `"inbag"` and `"none"` do behave identically.

The question is how we treat the risk-attribute in the selection of bas

[2017-11-13 11:49] hofnerb commented on #48
The second, related problem could be that we want to predict for a model component which was never selected. It seems that there also happens to be a bug.

[2017-11-13 16:09] ja-thomas commented on #48
Thanks for reporting,

so, mboost predict does something strange when predicting with an intercept model:

[code]

[2017-11-13 17:10] hofnerb commented on #48
Ok, so (part of) the error seems to be hidden in mboost. I'll open an issue there as well.

However, I do not understand the EDIT. What do you mean by "element per baselearner"? We have one base-learner in each of the two models above (with the only difference that we have a linear or smooth baselerner).

[2018-01-31 12:08] Almond-S opened #49 "Scoping problem with "combined_risk" in nc_mboostLSS"
`attr(model1, "combined_risk")` seems to always relate to the last fitted model instead of `model1`.
And perhaps related to this issue, the combined_risk cannot be returned when fitting multiple models with `mclapply`:

[code]

[2018-04-16 06:58] hofnerb commented on #49
@ja-thomas can you please look at this?

[2018-04-16 06:59] hofnerb commented on #48
@ja-thomas as you already seem to know the error and as I do not understand your comment, can you please provide a patch for this bug? That would be really great!

[2018-06-08 16:40] #48 closed

[2018-06-14 18:16] hofnerb commented on #47
Add final version `(2018) 28: 673-687.`

[2018-06-14 18:32] #47 closed

[2018-06-14 18:33] hofnerb commented on #48
this was actually a bug in mboost not gamboostLSS. is fixed now.

[2018-06-19 14:35] ja-thomas commented on #49
Problem is here:

https://github.com/boost-R/gamboostLSS/blob/a462d46caca91fe1869c8c6d82c379df469647f2/R/mboostLSS.R#L286

I'm not sure why I had to write this (horrible) line... I need to check

[2018-06-21 14:41] ja-thomas commented on #49
Hmmmm, I played around with this some more. I kind of remember why I did it. Since assignment for the `parent.frame` was not working correctly and gamboostLSS is writing to the `.GlobaleEnv` anyways.

This is pretty bad design from my part, but I didn't find a solution at the time and unfortunately I'm still not sure how to find the correct environment to write the `combined_risk` to. This seems t

[2018-06-22 07:06] hofnerb commented on #49
Thanks @ja-thomas for digging into this.

Without having had another look I think the issue is that some functions are defined outside of the relevant environment and hence do not share the same parent environments. Thus, the `combined_risk` is written to the wrong place.

Of note, I do not think that gamboostLSS writes to the global environment in other places. We define global variables but only

[2018-06-22 07:50] Almond-S commented on #49
Thank you both so much!

I had all my simulation studies showing apparently corrupt crossvalidation results, which did not fit to the results with prior gamboostLSS versions, and think that this should have been the problem. And this was kind of the last issue prohibiting me from finishing a project on FDboostLSS for functional responses.

So many thanks again!!

[2018-06-22 08:05] #49 closed

[2018-06-22 08:18] ja-thomas commented on #49
Thanks  @hofnerb you're a genius :)

[2018-06-22 09:23] hofnerb commented on #49
You are more than welcome. Thanks for locating the reason in the first place!

@Almond-S Is it currently sufficient for you to have the bug fixed on github or should we make a quick release to CRAN as well?

[2018-06-22 09:30] Almond-S commented on #49
I think, having it fixed on gitHub should be completely fine. But if it won't, for whatever reason, I'd get back to you. Thanks again!

[2019-03-10 13:40] fabian-s opened #51 "stabsel.mboostLSS does not work on FDboost with scalar response"
because this check:

https://github.com/boost-R/gamboostLSS/blob/f97c8906fc9d78e05cb28823789b12cd31c06fdc/R/methods.R#L399

assumes a functional response model, I think.

[2019-03-10 13:46] fabian-s opened #52 "mboost_LSS does not work for "matrix valued, but scalar" responses fit with FDboost"
because this:

https://github.com/boost-R/gamboostLSS/blob/f97c8906fc9d78e05cb28823789b12cd31c06fdc/R/mboostLSS.R#L171

turns matrices of scalar wins/losses, e.g., into a long vector.

[2019-03-15 10:02] sbrockhaus commented on #52
can you provide a MWE?

[2019-03-16 13:50] fabian-s commented on #52
[code]

Created on 2019-03-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
<details><summary>Session info</summary>

[code]

</details>

[2019-03-17 18:03] sbrockhaus commented on #52
So this issue is about the BI family to fit a model for a Binomial distribution with different numbers of tries, such that the response has to be provided as a matrix? Or do you also have other cases in mind?
I had a look at your example, and changed some of the data generating process and added the domain of the functional covariate. The following code works fine for me (FDboost 0.3-2. and mboost

[2019-03-17 18:48] sbrockhaus commented on #51
To give it a try, I fitted a model with scalar response with FDboost and used stabsel() on it and it worked fine:

[code]

[2019-03-17 18:54] sbrockhaus commented on #51
Ah, sorry, I misunderstood. You talk about models that are fitted with `FDboostLSS()` not about models that are fitted with `FDboost()`. I will have a look...

[2019-03-17 19:58] sbrockhaus commented on #51
As you wrote, the problem is, that the scalar response is treated as a functional response and thus `stabsel` does not work. I did some further testing and realized that for functional response, in the current version you have to provide the `folds` argument, otherwise stabsel fails also for functional response.
I fixed `stabsel` for FDboostLSS models with scalar and functional responses. After fi

[2019-03-17 20:52] #51 closed

[2019-03-17 21:01] sbrockhaus opened #53 "example code in families.Rd failes"
For me, `devtools::run_examples()` fails for ` families.Rd `, with

[code]
To be honest, I am not into Families. So can someone else please check?

PS: I run on:
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)
gamboostLSS_2.0-1

[2019-03-21 14:51] mayrandy commented on #53
Thanks! I'll take a look into this...

[2019-03-22 13:39] leirnessjb opened #54 "Add option for stochastic gradient descent"

[2019-03-22 13:48] hofnerb commented on #54
If you provide a patch that might be a valuable option. Otherwise we do not have ressources to do that,

[2019-03-27 10:30] fabian-s commented on #52
thx, sorry, must have been caused by the missing `xs` argument.....

going forward, just ignore the grumpy old man muttering in the corner.

[2019-03-27 10:31] #52 closed

[2019-04-04 19:40] leirnessjb opened #55 "predint() not working when multiple variables are included within a single baselearner"
[code]

possible fix:
replace `pred_vars <- unique(unlist(pred_vars))` with `pred_vars <- unique(trimws(unlist(strsplit(unlist(pred_vars), ","))))` in the predint() function

[2019-04-05 07:52] hofnerb commented on #55
@mayrandy can you check the fix and include it if all tests and checks pass? Thanks a lot

[2019-04-05 10:52] mayrandy commented on #55
Thanks @leirnessjb for finding this! The potential fit leads to other problems - but we will surely find a solucion

[2019-04-05 11:21] mayrandy commented on #55
My mistake, I was the one leading to other problems ;-) - the fix by @leirnessjb works fine, thanks!!

[2019-04-05 11:22] #55 closed

[2019-04-05 11:41] mayrandy commented on #53
I did have some problems replicating this - for me everything worked fine.

However, then I loaded the 'gamlss' package

[code]

which then leads to the error.  So this a problem that only occurs when tha 'gamlss' package is loaded after 'gamboostLSS' and therefore 'mboost' as ```Family()``` exists both in 'gamlss.dist' and 'mboost'.

[2019-04-05 12:08] mayrandy commented on #53
I just fix that by using ```mboost::Family``` in the examples -> that is not a very elegant way but solves the problem...

[2019-04-05 12:09] #53 closed

[2019-04-05 17:51] sbrockhaus commented on #53
thank you very much. yes, I had loaded the gamlss package as well. old mistake I should have started a completely empty R session and check again...

[2019-11-12 10:35] FAUBZhang opened #56 "Problem on calculating risk in gamboostLSS with noncyclical approach"
Consider the following Gaussian distribution example:

[code]
By applying the g_muvsi() function to the gamboostLSS object we can find that sigma is updated in the **third** boosting iteration.
[code]
However, if the negative gradient for mu and sigma **after the second boosting iteration** is caluclated manually
[code]
fit them with linear regression
[code]
and finally calculate the empirical ris

[2019-11-18 09:47] FAUBZhang commented on #56
@ja-thomas @ewaldmann

[2019-12-10 22:05] bryorsnef opened #57 "Error when predicting with large N"
I'm getting an error when trying to predict using gamboost, but the error only appears for me when the N becomes large.

E.g. running this code with 10000 rows of data is fine.

### try with 10000 obs
p <- 10
n <- 10000

x <- matrix(runif(n*p), nrow = n, ncol = p)
coefs <- ifelse(runif(p) < 0.5, rnorm(p), 0)
y <- x %*% coefs + rnorm(n)
x[,10] <- ifelse(runif(n) < 0.5, x[,10], NA)

xy <- data.frame

[2019-12-11 21:38] sbrockhaus commented on #57
as a quick fix you can change the following option to something higher than your n.

[code]

[2020-04-29 12:56] BerriJ opened #58 "Problem fitting a blackboost(LSS) model to toy data"
I'm currently playing around with a toy example to get the blackboostLSS function working. That is, I set up a blackboost model (without LSS) which works fast and produces the expected results. However, when I use blackboostLSS the results are vastly different although I tried to keep all parameters equal.

Here is my code:

[code]

[![Blackboost Fit][1]][1]

[![Blackboost LSS Fit][2]][2]

Essenti

[2020-04-29 14:45] #58 closed

[2022-05-09 12:31] nbsmokee opened #59 "Package not available via CRAN"
Currently it seems impossible to obtain the package via CRAN:

[code]
and also [https://cran.r-project.org/package=gamboostLSS](https://cran.r-project.org/package=gamboostLSS) says the following:
![homee 2022-05-09 14:27:48](https://user-images.githubusercontent.com/64212715/167409916-f9e7794b-8e8c-4ec2-b1b0-37996d02f57a.png)

[2022-05-10 13:24] hofnerb commented on #59
As noted the packae is currently archieved. We resubmitted a new version but are still waiting for the CRAN review and approval. In the meantime you can either install the archived version or the latest github version e.g. using devtools as indicated in the Readme:

[code]

[2022-05-10 13:25] #59 closed